 <script src="http://code.highcharts.com/highcharts.js"></script>
  <script type="text/javascript">
  $( document ).ready(function() {
      $('.artGroup.flip').hover(
        function () {
          $(this).find('.artwork').addClass('theFlip');
        },
        function () {
          $(this).find('.artwork').removeClass('theFlip');      
        }
      );

  });

function drawBarGraph(container_name, library_names, free_data, busy_data ) {
    $(container_name).highcharts({
        chart: {
            type: 'bar',
            backgroundColor: null
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        xAxis: {
                gridLineWidth: 0,
                minorGridLineWidth: 0,
                minorTickLength: 0,
   tickLength: 0,
   // gridLineColor: 'transparent',
   // lineColor: 'transparent',

            categories: library_names,
            title: {
                text: ''
            },
            labels: {
                overflow: 'justify',
                style:{
                        color:'white'
                    }
            },


        },
        yAxis: {
          gridLineWidth: 0,
                minorGridLineWidth: 0,
                minorTickLength: 0,
   tickLength: 0,
   // gridLineColor: 'transparent',
   // lineColor: 'transparent',
            min: 0,

            title: {
                text: '',
                align: 'high',
                // style: {
                //   color: '#ffffff'
                // },

            },

            labels: {
              enabled: false,
                style:{
                        color:'white'
                    }
            },

        },
        tooltip: {
            valueSuffix: 'seats'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: false
                },

            },series: {
                borderWidth: 0,
                borderColor: 'black'
                // stacking: 'normal'
            }
        },
        legend: {
itemStyle: {
                 font: '9pt Trebuchet MS, Verdana, sans-serif',
                 color: 'white'
              }
            },
        exporting: {
                enabled: false
            },
        credits: {
            enabled: false
        },
        series: [ 
        {
            name: 'Busy',
            color: "#EF5E43",
            data: busy_data
        },{
            name: 'Free',
            color: '#8DEB95',
            data: free_data
        }
        ]
    });
}

</script>





<%= render 'navbar' %>

<%= tag("div", id: "info1-div", data: {barContainerName: @barChartContainerName, libraryNamesArray: @library_names_array, libraryFreeInfoArray: @library_free_info_array, libraryBusyInfoArray: @library_busy_info_array}) %>





<h1 class="text-center" style="font-family: 'lato';
font-size: 40px;
color: rgb(255, 255, 255);
line-height: 0.986; margin-top:150px">UNIVERSITY OF WATERLOO</h1>




<div class="container" style="margin-top: 100px">
	<div class="row">

  <% Library.all.each do |library| %>
  

    <div class="col-md-4 col-xs-6">

       <%= link_to library_path(library.id) do %>
      <div class="artGroup flip">
  <div class="artwork"> 
    <%= image_tag(library.acronym + '_tile.png') %>
    <div class="detail" style="padding-top:50px">


      <p class="text-center" id=<%= getPercentDisplayIndex(library.acronym) %>   style="color:white; text-align:center; font-family: 'Roboto', sans-serif;
    font-weight: 100; color:white; font-size: 40px;"> <%= pluralize(library.num_free_seats,'seat') %> available</p>  

    </div>
  </div>
</div>
<% end %>

</div>
<% end %> 

		
				
		<div class="col-md-4 col-sm-6">
			<div class="new-tile" >
			</div>
		</div>
	</div>
</div>

<div class="library-map-section2" style="">


<div class="container" style="opacity:1;">

<h1 style="font-family: 'Roboto', sans-serif;
    font-weight: 300; color:white; font-size:30px">
  Occupancy Summary 
</h1>

<div id= 'containerBarChart' style="height: 400px; min-width: 310px; width:100%; margin: 0 auto"></div>

</div>
</div>


 