<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
 <script type="text/javascript">
    $(function () {
    $('#container').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy',
            backgroundColor: 'black'
        },
        title: {
            text: 'Study Space Occupancy Display'
        },
        subtitle: {
            text: 'Source: SSMS'
        },
        xAxis: {
            title: {
                enabled: false,
                text: ''
            },
            labels:
            {
              enabled: false
            },
            lineWidth: 0,
            minorGridLineWidth: 0,
            lineColor: 'transparent',

            minorTickLength: 0,
            tickLength: 0
        },
        yAxis: {
            title: {
                enabled: false,
                text: ''
            },
            labels:
            {
              enabled: false
            },
            lineWidth: 0,
            minorGridLineWidth: 0,
            lineColor: 'transparent',
            gridLineColor: 'transparent',
            
            minorTickLength: 0,
            tickLength: 0
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 0,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y} '
                }
            }
        },
        series: [{
            name: 'Occupied',
            color: 'rgba(223, 83, 83, .5)',
            data: <%= @data1 %>

        }, {
            name: 'Free',
            color: 'rgba(119, 152, 191, .5)',
            data: <%= @data2 %>
            
        }, {
            name: 'Away',
            color: 'rgba(255, 153, 0, .5)',
            data: <%= @data3 %>
            
        }
        ]
    });
});
</script>

   


<%= render 'navbar' %>
 <div class="dc-jumbotron">
 	<div class="dc-big-pic-text">

      </div>
 </div>



 <div class="library-info-section">
 	<div class="container">
 		<div class="row">
 			
 			 	<div class="col-sm-6">
 		<div class="rank" style="
  border-radius: 4px;
  background-color: rgb(41, 128, 185);
  box-shadow: inset 2.5px 4.33px 0px 0px rgba(255, 255, 255, 0.004);
    width: 190px;
  height: 230px;
  display: block;
  margin: 50px auto;
   border-bottom-style: solid;
   border-width: 5px;
   border-color: white;
"> 
<div class="text-center" style="
  font-size: 100px;
  font-family: 'Blanka';
  color: rgb(255, 255, 255);
  line-height: 0.329;
  padding: 50px;
">1 </div>

<div class="rank" style="
  font-size: 50px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center; 
">
	RANK
</div>


 			
 		</div>
 	</div>

 	<div class="col-sm-6" >

 		<div class="c100 p50 big green" style="margin: 50px auto; float:none
">
                    <span style="
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
">50%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>


 	</div>	
 		</div>
 	</div>

 </div>

 <div class="library-map-section">
 	<div class="container">


<div id="container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>






 	<table class="table table-hover">
      <thead>
        <tr>
          <th>Library</th>
          <th>uid</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody>

	<% Status.all.each do |status| %>
        <tr>


          <td>Davis Centre</td>
          <td><%=status.uid %></td>
          <td><%= status.status %></td>
        </tr>
    <% end %>
      </tbody>
    </table>
 </div>
 </div>




