<script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
<!-- <script src="http://code.highcharts.com/modules/exporting.js"></script> -->
<script src="http://code.highcharts.com/highcharts-3d.js"></script>
 <script type="text/javascript">
    $(function () {
    $('#container').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy',
            backgroundColor: null
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            title: {
                enabled: false,
                text: ''
            },
            labels:
            {
              enabled: false
            },
            lineWidth: 0,
            minorGridLineWidth: 0,
            // lineColor: 'transparent',

            minorTickLength: 0,
            tickLength: 0
        },
        yAxis: {

            title: {
                enabled: false,
                text: ''
            },

            labels:
            {
              enabled: false
            },
            lineWidth: 0,
            minorGridLineWidth: 0,
            lineColor: 'transparent',
            gridLineColor: 'transparent',
            
            minorTickLength: 0,
            tickLength: 0
        },
        legend: {
           itemStyle: {
                 font: '9pt Trebuchet MS, Verdana, sans-serif',
                 color: 'white'
              },
            // layout: 'vertical',
            // align: 'right',
            // verticalAlign: 'top',
            // x: 0,
            // y: 100,
            // floating: true,
            // backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            // borderWidth: 1
        },
        exporting: {
         enabled: false
        },

        plotOptions: {
                      series: {
                        allowPointSelect: true,
                states: {
                    hover: {
                      enabled: false

 // radiusPlus: 5
                    }
                }
            },
            scatter: {
                marker: {
                    radius: 5
                },
                tooltip: {
                    headerFormat: '',
                    pointFormat: 'Device UID: {point.name} X: {point.x:.2f} Y: {point.y:.2f}'
                }
            }
        },
        series: [{
            name: 'Busy',
            color: "#8E2800",
            data: <%= @seats_info %>,
             marker: {
                lineWidth: 0,
                radius: 8,
                lineColor: null
            }

        }, {
            name: 'Free',
            color: '#468966',
            data: <%= @data2 %>
      }      
        // }, {
        //     name: 'Break',
        //     color: '#FFB03B',
        //     data: <%= @data3 %>
            
        // }
        ]
    });




});



// 2nd floor
    $(function () {
    $('#containerfloor2').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy',
            backgroundColor: null
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            title: {
                enabled: false,
                text: ''
            },
            labels:
            {
              enabled: false
            },
            lineWidth: 0,
            minorGridLineWidth: 0,
            // lineColor: 'transparent',

            minorTickLength: 0,
            tickLength: 0
        },
        yAxis: {

            title: {
                enabled: false,
                text: ''
            },

            labels:
            {
              enabled: false
            },
            lineWidth: 0,
            minorGridLineWidth: 0,
            lineColor: 'transparent',
            gridLineColor: 'transparent',
            
            minorTickLength: 0,
            tickLength: 0
        },
        legend: {
           itemStyle: {
                 font: '9pt Trebuchet MS, Verdana, sans-serif',
                 color: 'white'
              },
            // layout: 'vertical',
            // align: 'right',
            // verticalAlign: 'top',
            // x: 0,
            // y: 100,
            // floating: true,
            // backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            // borderWidth: 1
        },
        exporting: {
         enabled: false
        },

        plotOptions: {
                      series: {
                        allowPointSelect: true,
                states: {
                    hover: {
                      enabled: false

 // radiusPlus: 5
                    }
                }
            },
            scatter: {
                marker: {
                    radius: 5
                },
                tooltip: {
                    headerFormat: '',
                    pointFormat: 'Device UID: {point.name} X: {point.x:.2f} Y: {point.y:.2f}'
                }
            }
        },
        series: [{
            name: 'Busy',
            color: "#8E2800",
            data: <%= @seats_info_floor2 %>,
             marker: {
                lineWidth: 0,
                radius: 8,
                lineColor: null
            }

        }, {
            name: 'Free',
            color: '#468966',
            data: <%= @data2 %>
      }      
        // }, {
        //     name: 'Break',
        //     color: '#FFB03B',
        //     data: <%= @data3 %>
            
        // }
        ]
    });




});









$(function () {
    $(document).ready(function () {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        $('#container1').highcharts({
            chart: {
              backgroundColor: null,
                type: 'spline',
                animation: Highcharts.svg // don't animate in old IE
                // marginRight: 10
                // events: {
                //     load: function () {

                //         // set up the updating of the chart each second
                //         var series = this.series[0];
                //         setInterval(function () {
                //             var x = (new Date()).getTime(), // current time
                //                 y = Math.random()*100;
                //                 // percentage of free seats
                //             series.addPoint([x, y], true, true);
                //         }, 5000);
                //     }
                // }
            },
            title: {
                text: ''
            },
            min:0,
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150,
                              labels: {
         style: {
            color: 'white',
            font: '11px Trebuchet MS, Verdana, sans-serif'
         }
              }
            },
            yAxis: {
              labels: {
         style: {
            color: 'white',
            font: '11px Trebuchet MS, Verdana, sans-serif'
         }
              },
                title: {
                    text: ''
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#6a6a6a'
                }]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Library Occupancy',
                color: 'white',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -19; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 5000,
                            y: Math.floor(Math.random()* <%= @free_seat_count  %> + <%= @free_seat_count  %> * 0.5)
                        });
                    }
                    return data;
                }())
            }]
        });
    });
});




// LAST CHART - LIBRARY COMPARISONS

$(function () {
    $('#container3').highcharts({
        chart: {
            type: 'bar',
            backgroundColor: null
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        xAxis: {
                    gridLineWidth: 0,
                minorGridLineWidth: 0,
                minorTickLength: 0,
   tickLength: 0,
   gridLineColor: 'transparent',
   // lineColor: 'transparent',

            categories: ['Davis Centre', 'Dana Porter'],
            title: {
                text: ''
            },
            labels: {
                overflow: 'justify',
                style:{
                        color:'white'
                    }
            },


        },
        yAxis: {
          gridLineWidth: 0,
                minorGridLineWidth: 0,
                minorTickLength: 0,
   tickLength: 0,
   // gridLineColor: 'transparent',
   // lineColor: 'transparent',
            min: 0,

            title: {
                text: '',
                align: 'high',
                // style: {
                //   color: '#ffffff'
                // },

            },

            labels: {
              enabled: false,
                style:{
                        color:'white'
                    }
            },

        },
        tooltip: {
            valueSuffix: 'seats'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: false
                },

            },series: {
                borderWidth: 0,
                borderColor: 'black'
            }
        },
        legend: {
itemStyle: {
                 font: '9pt Trebuchet MS, Verdana, sans-serif',
                 color: 'white'
              }
            },
        exporting: {
                enabled: false
            },
        credits: {
            enabled: false
        },
        series: [ 
        {
            name: 'Busy',
            color: "#8E2800",
            data: <%= @busy_count %>
        },{
            name: 'Free',
            color: '#468966',
            data: <%= @free_count %>
        }
        ]
    });
});








$(function () {

    // Give the points a 3D feel by adding a radial gradient
    Highcharts.getOptions().colors = $.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: {
                cx: 0.4,
                cy: 0.3,
                r: 0.5
            },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.2).get('rgb')]
            ]
        };
    });

    // Set up the chart
     var chart = new Highcharts.Chart({
        chart: {
            margin: 100,
            renderTo: 'container3d',
            type: 'scatter',
// inverted: true,
            backgroundColor: null,
            options3d: {
                enabled: true,
                  alpha: 15,
                beta: 30,
                viewDistance: 5,
                depth: 150,
                // viewDistance: 5,

                frame: {
                    bottom: { 
                       size: 1, 
                      color: 'rgba(0,0,0,0.04)' 
                  },
                    back: { 
                      size: 1, 
                      color: 'rgba(0,0,0,0.06)'   
                    },
                    side: { 
                      size: 1, 
                      color: 'rgba(0,0,0,0.08)' 
                    }
                }
            }
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        plotOptions: {
            scatter: {
              marker: {
                    radius: 5
                },
                // width: 10,
                // height: 10,
                // depth: 10
            }
        },
        yAxis: {
            // min: 0,
            // max: 10,
            title: null,
            allowDecimals: false,
labels:
            {
              format: 'Floor: {value}',
              style: {
                    color: 'black',
                    font: '11px Trebuchet MS, Verdana, sans-serif'
                }
            },
            ineWidth: 0,
            minorGridLineWidth: 0,
            lineColor: 'transparent',
            gridLineColor: 'transparent',
            
            minorTickLength: 0,
            tickLength: 0
        },
        xAxis: {
            // min: 0,
            // max: 10,
            gridLineWidth: 0,
            labels:
            {
              enabled: false
            },
            lineWidth: 0,
            minorGridLineWidth: 0,
            // lineColor: 'transparent',

            minorTickLength: 0,
            tickLength: 0
        },
        zAxis: {
            min: 0,
             max: <%= @z_max +1%>,
             labels:
            {
              format: 'Floor: {value}',
              style: {
                    color: 'white',
                    font: '11px Trebuchet MS, Verdana, sans-serif'
                }
            },
        },
                tooltip: {
                formatter: function () {
                    return ''
                },
                enabled: false
            },

        legend: {
            enabled: false
        },
        exporting: {
         enabled: false
        },
        series: [{
            name: 'seatStatus',
            colorByPoint: true,
            data: <%= @seats_info1 %>
        }]
    });

 // Activate the sliders
    $('#R0').on('change', function () {
        chart.options.chart.options3d.alpha = this.value;
       // $('#R0-value').html(chart.options.chart.options3d.alpha);
        // $('#R1-value').html(chart.options.chart.options3d.beta);
        chart.redraw(false);
    });
    $('#R1').on('change', function () {
        chart.options.chart.options3d.beta = this.value;
        // $('#R0-value').html(chart.options.chart.options3d.alpha);
        // $('#R1-value').html(chart.options.chart.options3d.beta);
        chart.redraw(false);
    });

    // $('#R0-value').html(chart.options.chart.options3d.alpha);
        // $('#R1-value').html(chart.options.chart.options3d.beta);


    // Add mouse events for rotation
    $(chart.container).bind('mousedown.hc touchstart.hc', function (e) {
        e = chart.pointer.normalize(e);

        var posX = e.pageX,
            posY = e.pageY,
            alpha = chart.options.chart.options3d.alpha,
            beta = chart.options.chart.options3d.beta,
            newAlpha,
            newBeta,
            sensitivity = 5; // lower is more sensitive

        $(document).bind({
            'mousemove.hc touchdrag.hc': function (e) {
                // Run beta
                newBeta = beta + (posX - e.pageX) / sensitivity;
                newBeta = Math.min(100, Math.max(-100, newBeta));
                chart.options.chart.options3d.beta = newBeta;

                // Run alpha
                newAlpha = alpha + (e.pageY - posY) / sensitivity;
                newAlpha = Math.min(100, Math.max(-100, newAlpha));
                chart.options.chart.options3d.alpha = newAlpha;

                chart.redraw(false);
            },
            'mouseup touchend': function () {
                $(document).unbind('.hc');
            }
        });
    });

});







// GOOGLE MAP HERE

 function initialize() {
        var mapCanvas = document.getElementById('map-canvas');

var dc = new google.maps.LatLng(43.4726720,-80.5422160);
var mapOptions = {
  zoom: 18,
  center: dc
}
var map = new google.maps.Map(mapCanvas, mapOptions);

// To add the marker to the map, use the 'map' property

var marker = new google.maps.Marker({
    position: dc,
    map: map,
    title:"University of Waterloo"
});




     


 map.set('styles', [
  {
    featureType: 'road',
    elementType: 'geometry',
    stylers: [
      { color: '#34495E' },
      { weight: 1.3 }
    ]
  }, {
    featureType: 'road',
    elementType: 'labels',
    stylers: [
      { saturation: -100 },
      { invert_lightness: true }
    ]
  }, {
    featureType: 'landscape',
    elementType: 'geometry',
    stylers: [
      { hue: '#008080' },
      { gamma: 1.4 },
      { saturation: 82 },
      { lightness: 96 }
    ]
  }, {
    featureType: 'poi.school',
    elementType: 'geometry',
    stylers: [
      { hue: '#2980B9' },
      { lightness: -15 },
      { saturation: 99 }
    ]
  }
]);     
      }

      google.maps.event.addDomListener(window, 'load', initialize);

</script>


   


<%= render 'navbar' %>
<!-- <div class="map-section"> -->
    <div id="map-canvas" class="jumbotron" style="height:100%; width:100%;background:  transparent no-repeat 1 1;
  height:       450px;
  margin-top:52px;
  margin-bottom:0;
  z-index:      -1;">





</div>

 <div id="overlay" style=" background:  #fff;
  opacity:      .8;
  position:     relative;
  padding:      10px;
  top:          -300px;
  z-index:      2;
  margin:       0 auto;
  width:        75%;
  border-radius:5px;">
        <h1 style="text-align:center;
color: #2D3E50;
font-family:'Lato Hairline', Arial;
font-size: 40px;
        ">Welcome to Davis Centre Library</h1>
  </div>
<!-- </div> -->

<!--  <div class="dc-jumbotron">
 	<div class="dc-big-pic-text">

      </div>
 </div> -->



<!--  <div class="library-info-section">
 	<div class="container">
 		<div class="row">
 			
 			 	<div class="col-sm-6">
 		<div class="rank" style="
  border-radius: 4px;
  background-color: rgb(41, 128, 185);
  box-shadow: inset 2.5px 4.33px 0px 0px rgba(255, 255, 255, 0.004);
    width: 190px;
  height: 230px;
  display: block;
  margin: 50px auto;
   border-bottom-style: solid;
   border-width: 5px;
   border-color: white;
"> 
<div class="text-center" style="
  font-size: 100px;
  font-family: 'Blanka';
  color: rgb(255, 255, 255);
  line-height: 0.329;
  padding: 50px;
">1 </div>

<div class="rank" style="
  font-size: 50px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center; 
">
	RANK
</div>


 			
 		</div>
 	</div>

 	<div class="col-sm-6" >

 		<div class="c100 p50 big green" style="margin: 50px auto; float:none
">
                    <span style="
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
">50%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>


 	</div>	
 		</div>
 	</div>

 </div> -->

 <div class="library-info-section" style="width:100%; background: #252020">
    <div class="container" style="opacity:0.7; padding-bottom:20px">
<!--   <div class="container" style="opacity:0.7; background: #252020; padding-bottom:20px"> -->
  <h1 style="font-family: 'Roboto', sans-serif;
    font-weight: 100; color:white; font-size:60px">Details</h1>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <div class="progress-pie-chart" data-percent=<%=@free_seat_percentage %> >
  <div class="ppc-progress">
    <div class="ppc-progress-fill"></div>
  </div>
  <div class="ppc-percents">
    <div class="pcc-percents-wrapper">
      <span>%</span>
    </div>
  </div>
</div>

<% if @free_seat_percentage>20 %>
  <p class="text-center status-message" style="margin-top:20px; font-family: 'Roboto', sans-serif;
    font-weight: 100; color:white; font-size:20px" > 
      <i class="fa fa-smile-o" style="color:white; font-size:30px"></i>
      - Library is fairly empty right now, studying at the library seems like a great idea.
    </p>
<% else %>
  <p class="text-center" style="margin-top:20px; font-family: 'Roboto', sans-serif;
    font-weight: 100; color:white; font-size:20px" > 
        <i class="fa fa-frown-o" style="color:white; font-size:30px"></i>
        - Library is pretty busy right now, maybe it is better to study at home today.
  </p>
<% end %>

    </div>

    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-6">
         <h1 style="font-family: 'Roboto', sans-serif;
    font-weight: 100; color:white">Seats free</h1> 
        </div>
        <div class="col-xs-6">
          <h1 id='free_seat_count_label' style="text-align:right; font-family: 'Roboto', sans-serif;
    font-weight: 100; color:white; font-size:40px"><%= @free_seat_count %></h1>
        </div>
        <div class="col-xs-12">
        <hr style="border-top: dotted 1px; color:grey" />
        </div>
      </div>


      <div class="row">
        <div class="col-xs-6">
         <h1 style="font-family: 'Roboto', sans-serif;
    font-weight: 100; color:white">Seats busy</h1> 
        </div>
        <div class="col-xs-6">
          <h1 id='busy_seat_count_label' style="text-align:right; font-family: 'Roboto', sans-serif;
    font-weight: 100; color:white; font-size:40px"><%= @busy_seat_count %></h1>
        </div>
        <div class="col-xs-12">
        <hr style="border-top: dotted 1px; color:grey" />
        </div>
      </div>


      <!-- <div class="row">
        <div class="col-xs-6">
         <h1 style="font-family: 'Roboto', sans-serif;
    font-weight: 100; color:white">Study break</h1> 
        </div>
        <div class="col-xs-6">
          <h1 id='away_seat_count_label' style="text-align:right; font-family: 'Roboto', sans-serif;
    font-weight: 100; color:white; font-size:40px"><%= @away_seat_count %></h1>
        </div>
        <div class="col-xs-12">
        <hr style="border-top: dotted 1px; color:grey" />
        </div>
      </div> -->

    </div>
  </div>

</div>
</div>


 <div class="library-map-section">



  <div class="container" style="background: #2980B9; opacity:0.7">




<!--   <div class="container" style="background: -webkit-linear-gradient(top, #ff8159 , #ff2617); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom , #2980B9 , #242d37); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom , #2980B9 , #242d37); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom , #2980B9 , #242d37); /* Standard syntax (must be last) */
    opacity:0.7"> -->

<!-- 
  <div class="container" style="background: -webkit-linear-gradient(top, #ff8159 , #ff2617); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom , #2980B9 , #2D3E50); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom , #2980B9 , #2D3E50); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom , #2980B9 , #2D3E50); /* Standard syntax (must be last) */
    opacity:0.7"> -->




<!--  	<div class="container" style="background: -webkit-linear-gradient(top, #ff8159 , #ff2617); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom , #ff8159 , #ff2617); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom , #ff8159 , #ff2617); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom , #ff8159 , #ff2617); /* Standard syntax (must be last) */
    opacity:0.7"> -->

<h1 style="font-family: 'Roboto', sans-serif;
    font-weight: 100; color:white; font-size:60px">Number of Free Seats Available</h1>
<hr>


<h2 style="font-family: 'Roboto', sans-serif;
    font-weight: 100; color:white; font-size:30px; margin-bottom:20px"><%=Date.today.strftime('%a %d %b %Y')%></h2>


<div id="container1" style="min-width: 310px; height: 400px; width:100%; margin: 0 auto"></div>
</div>
</div>

<!-- <div class="library-map-section1" style="background:#0e0d0d"> -->
<div class="library-map-section3d" style="">

<!-- <div class="container" style="background: -webkit-linear-gradient(top, #ff8159 , #ff2617); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom , #D0CFD5 , #8a8a8c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom , #D0CFD5 , #8a8a8c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom , #D0CFD5 , #8a8a8c); /* Standard syntax (must be last) */
    opacity:0.7"> -->

<!-- <div class="container" style="opacity:1; background:#0e0d0d"> -->
<div class="container" style="opacity:1;">
<!-- light, dark 
dcdbe1 - light
8a8a8c - dark  -->


<h1 style="font-family: 'Roboto', sans-serif;
    font-weight: 100; color:black; font-size:60px">
  Library Study Spaces and Availabilities 
</h1>

<hr style="border-top: solid 1px; color:black">
<h2 style="font-family: 'Roboto', sans-serif;
    font-weight: 100; color:black; font-size:30px; margin-bottom:20px">Davis Centre - University of Waterloo</h2>

<button type="button" class="btn btn-info btn-sm floor1-btn" style="margin-top:10px;margin-right:5px">Floor 1 Detail</button>
<button type="button" class="btn btn-info btn-sm floor2-btn" style="margin-top:10px;margin-right:5px">Floor 2 Detail</button>
<div id="container3d"> </div>
<div id="sliders" class="hidden-lg">
  <table>
    <tr><td>Vertical Rotation </td><td><input id="R0" type="range" min="0" max="45" value="15"/> <span id="R0-value" class="value"></span></td></tr>
      <tr><td>Horizontal Rotation</td><td><input id="R1" type="range" min="0" max="45" value="15"/> <span id="R1-value" class="value"></span></td></tr>
  </table>
</div>


</div>
</div>

<div class="floor-detail-section" style="">
  


<div class="library-map-section1" style="">

<!-- <div class="container" style="background: -webkit-linear-gradient(top, #ff8159 , #ff2617); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom , #D0CFD5 , #8a8a8c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom , #D0CFD5 , #8a8a8c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom , #D0CFD5 , #8a8a8c); /* Standard syntax (must be last) */
    opacity:0.7"> -->

<!-- <div class="container" style="opacity:1; background:#0e0d0d"> -->
<div class="container" style="opacity:1;">
<!-- light, dark 
dcdbe1 - light
8a8a8c - dark  -->


<h1 style="font-family: 'Roboto', sans-serif;
    font-weight: 100; color:white; font-size:60px">
  Floor Detail
</h1>

<hr style="">
<h2 style="font-family: 'Roboto', sans-serif;
    font-weight: 100; color:white; font-size:30px; margin-bottom:20px">Floor One</h2>
<div id="container3d">
  
</div>

<div id="container" style="height: 400px; min-width: 310px; width:100%; margin: 0 auto"></div>

</div>
</div>




<!-- SECOND FLOOR -->


<div class="library-map-sectionfloor" style="">

<!-- <div class="container" style="background: -webkit-linear-gradient(top, #ff8159 , #ff2617); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom , #D0CFD5 , #8a8a8c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom , #D0CFD5 , #8a8a8c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom , #D0CFD5 , #8a8a8c); /* Standard syntax (must be last) */
    opacity:0.7"> -->

<!-- <div class="container" style="opacity:1; background:#0e0d0d"> -->
<div class="container" style="opacity:1;">
<!-- light, dark 
dcdbe1 - light
8a8a8c - dark  -->


<h1 style="font-family: 'Roboto', sans-serif;
    font-weight: 100; color:white; font-size:60px">
  Floor Detail
</h1>

<hr style="">
<h2 style="font-family: 'Roboto', sans-serif;
    font-weight: 100; color:white; font-size:30px; margin-bottom:20px">Floor Two</h2>

<div id="containerfloor2" style="height: 400px; min-width: 310px; width:100%; margin: 0 auto"></div>

</div>
</div>
</div>










<div class="library-map-section2" style="">

<!-- <div class="container" style="background: -webkit-linear-gradient(top, #ff8159 , #ff2617); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom , #D0CFD5 , #8a8a8c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom , #D0CFD5 , #8a8a8c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom , #D0CFD5 , #8a8a8c); /* Standard syntax (must be last) */
    opacity:0.7"> -->

<!-- <div class="container" style="opacity:1; background:#0e0d0d"> -->
<div class="container" style="opacity:1;">
<!-- light, dark 
dcdbe1 - light
8a8a8c - dark  -->

<h1 style="font-family: 'Roboto', sans-serif;
    font-weight: 100; color:white; font-size:60px">
  Library Comparison
</h1>
<hr>
<h2 style="font-family: 'Roboto', sans-serif;
    font-weight: 100; color:white; font-size:30px; margin-bottom:20px">University of Waterloo</h2>


<div id="container3" style="height: 400px; min-width: 310px; width:100%; margin: 0 auto"></div>

</div>
</div>


<% if user_is_admin? %>

 	<table class="table table-hover">
      <thead>
        <tr>
          <th>Library</th>
          <th>uid</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody class="testingtable">

	<% Status.last(10).each do |status| %>
        <tr>
          <td>Davis Centre</td>
          <td><%=status.uid %></td>
          <td><%= status.status %></td>
        </tr>
  <% end %>
      </tbody>
    </table>
 <% end %>

 <!-- </div> -->



