
    <nav class="navbar navbar-fixed-top" style="background: #2980b9; box-shadow: 0px 4.33px 0px 0px rgba(41, 128, 185, 0.5);">
      <div class="container">
        <div class="navbar-header" style="margin-top:5px">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand ssms-shadow" style="color:white; font-family: 'Blanka'; font-size: 2em;"></span>
        </div>
        <div id="navbar" class="collapse navbar-collapse  pull-right">
          <ul class="nav navbar-nav custom">


            <li >
              <%= content_tag("a","ABOUT", :style=> "", id: 'about') %>
            </li>
            <li>
              <%= content_tag("a","WEB APP", :style=> "", id: 'webapp') %>
            </li>
             <li>
              <%= content_tag("a","TEAM", :style=> "", id: 'team') %>

            </li>
            <li>
              <%= content_tag("a","CONTACT US", :style=> "", id: 'contact') %>
            </li>
            <% if user_signed_in? %>
  <li><%= link_to 'EDIT ACCOUNT', edit_user_registration_path %></li>
  <li><%= link_to 'SIGN OUT', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'SIGN IN', new_user_session_path %></li>
  <li><%= link_to 'SIGN UP', new_user_registration_path %></li>
<% end %>
            <% if user_signed_in? %>
            <li> 
              <button type="button" class="btn btn-success" style="margin-top:5px">MAPPING</button>

            </li>
           <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>