<%= render 'navbar' %>
    <div class="ssms-big-pic">
      <div class="ssms-big-pic-text">

      </div>
    </div>

    <div class="container" style="margin: 150px auto">
      <div class="row" >
        <!-- <h1 class="text-center">Study Space Monitoring System</h1> -->
      <div class="col-md-4">
        <div class="monitor">
          
        </div>
      </div>
            <div class="col-md-4">
              <div class="phone"></div>
            </div>
      <div class="col-md-4">
                <div class="chart"></div>
      </div>


      </div>

      <div class="row" style="margin-top:80px">
        <div class="col-md-4">
          <div class="text-center" style="
  font-size: 24px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  line-height: 0.986;
  text-align: center;
">

            Spots the exact position of empty study spaces in campus libraries, with pinpoint accuracy. So you never have to run around wasting time before your big exam. 

          </div>
        </div>
         <div class="col-md-4">
          <div class="text-center" style="
  font-size: 24px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  line-height: 0.986;
  text-align: center;
">
        A gorgeous web application can be viewed by students from their computers, tablets or smartphones. Finding a study space has never been easier. 

          </div>
        </div>
         <div class="col-md-4">
          <div class="text-center" style="
  font-size: 24px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  line-height: 0.986;
  text-align: center;
">
           Insightful reports are generated on students' study patterns, libraries' occupancy level, etc. Intelligent decisions can then be made by administrators to improve the campus experience.
          </div>
        </div>
      </div>
      
    </div><!-- /.container -->

    <div class="web-app-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div  style="
  font-size: 72px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.329;
  text-align: center;
">
              BEAUTIFUL MOBILE <br><br><br>
              EXPERIENCE
            </div>



            <div class="" style="
  font-size: 30px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  line-height: 1;
  margin: 100px 30px;
">
              Delivers best in class user experience. <br>
              Gorgeous and intuitive user interface. <br>
              Responsive designed just for you.
            </div>

<!--             <div class="login_btn" style="
  border-radius: 20px;
  background-color: rgb(119, 167, 251);
  box-shadow: 2.5px 4.33px 0px 0px rgba(44, 62, 80, 0.004);
"> -->

<!--             <button type="button" class="btn btn-lg">LOGIN IN <span> <i class="fa fa-arrow-circle-right"></i></span>
            </button> -->
<%#= link_to "LOGIN", library_path(1), class: "btn btn-lg" %>
 
<%= link_to library_path(1) do %>
  
              <button type="button" class="btn btn-lg">ACCESS <span> <i class="fa fa-arrow-circle-right"></i></span>
            </button>
<% end %>

            <!-- </div> -->
          </div>
          <div class="col-md-4">
            <div class="iphone"></div>
          </div>
        </div>
      </div>
    </div>


    <div class="team-section">
      <div class="container">
        <div class="row">
           <div  style="
  font-size: 72px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.329;
  text-align: center;
  margin: 60px auto;
">
              WHO WE ARE
            </div>
        </div>
        <div class="row">
          <div style="
  font-size: 30px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  line-height: 0.789;
  text-align: center;
  margin: 50px auto 80px auto;
">
University of Waterloo Mechatronics Engineering
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="teammember">
              <div class="head-icon"></div>
              <div class="text-center" style="
  font-size: 25px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.32;
"> chongxiao shen
</div>

<div class="text-center" style="
  font-size: 14px;
  font-family: 'Roboto';
  color: rgb(255, 137, 115);

  text-transform: uppercase;
">
  Design Lead
</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="teammember">
              <div class="head-icon"></div>
              <div class="text-center" style="
  font-size: 25px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.32;
"> jaesik kim
</div>

<div class="text-center" style="
  font-size: 14px;
  font-family: 'Roboto';
  color: rgb(255, 137, 115);

  text-transform: uppercase;
">
  software lead
</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="teammember">
              <div class="head-icon"></div>
              <div class="text-center" style="
  font-size: 25px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.32;
"> mingu kwon
</div>

<div class="text-center" style="
  font-size: 14px;
  font-family: 'Roboto';
  color: rgb(255, 137, 115);

  text-transform: uppercase;
">
  Mechanical Lead
</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="teammember">
              <div class="head-icon"></div>
              <div class="text-center" style="
  font-size: 25px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.32;
"> jungwook lee
</div>

<div class="text-center" style="
  font-size: 14px;
  font-family: 'Roboto';
  color: rgb(255, 137, 115);

  text-transform: uppercase;
">
  Electrical Lead
</div>
            </div>
          </div>

        </div>
      </div>
      
    </div>

<div class="contact-section">
 <div class="container">
  <div class="row">
    <div class="text-center" style="
  font-size: 72px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.806;
  margin: 50px auto;
"> 
      CONTACT US
      
    </div>
  </div>
   <div class="row">
<%= form_for :message, remote: true, url: messages_path do |f| %>
  <div class="col-md-6">

    <%= f.text_field :name, :value => "Name", :class => 'name-field'%>
    <%= f.text_field :email, :value => "Email", :class => 'email-field' %>
  </div>
 
  <div class="col-md-6">

    <%= f.text_area :message, :value => "Message", :class => 'message-field'  %>
   </div>

  <div class="col-md-6">
    <%#= f.submit 'SEND', :class => "submit-btn" %>

      <button type="submit" class="submit-btn">
        SEND
                <i class="fa fa-send-o"></i> 
            </button>
 </div>

<% end %>



   </div>
 </div> 

</div>

<div class="footer">
  <div class="pull-right" style=".
  font-size: 24px;
  font-family: "Roboto";
  color: rgb(189, 195, 199);
  line-height: 0.986;
">
    @2015 DESIGNED BY CHONGXIAO SHEN | SSMS ALL RIGHTS RESERVED
  </div>
</div>