<%= render 'navbar' %>


    <div class="ssms-big-pic">
      <div class="ssms-big-pic-text">

      </div>
    </div>




<div class="features-section">
    <div class="container">
      <div class="row">
        <%= image_tag 'ssms-logo-business.png', :style=>"display:block; margin: 30px auto 100px auto" %>
      </div>
      <div class="row" >
        <!-- <h1 class="text-center">Study Space Monitoring System</h1> -->
      <div class="col-sm-12 col-md-4">
        <div class="monitor">
          
        </div>

        <div class="text-center" style="
  font-size: 24px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  line-height: 0.986;
  text-align: center;
  margin:100px 0
">

            Spots the exact position of empty study spaces in campus libraries, with pinpoint accuracy. So you never have to run around wasting time before your big exam. 

          </div>


      </div>
            <div class="col-sm-12 col-md-4">
              <div class="phone"></div>
              <div class="text-center" style="
  font-size: 24px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  line-height: 0.986;
  text-align: center;
  margin:80px 0
">
        A gorgeous web application can be viewed by students from their computers, tablets or smartphones. Finding a study space has never been easier. 

          </div>
            </div>
      <div class="col-sm-12 col-md-4">
                <div class="chart"></div>
                          <div class="text-center" style="
  font-size: 24px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  line-height: 0.986;
  text-align: center;
  margin:80px 0
">
           Insightful reports are generated on students' study patterns, libraries' occupancy level, etc. Intelligent decisions can then be made by administrators to improve the campus experience.
          </div>
      </div>


      </div>

<!--       <div class="row" style="margin-top:80px">
        <div class="col-md-4">
          
        </div>
         <div class="col-md-4">
          <div class="text-center" style="
  font-size: 24px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  line-height: 0.986;
  text-align: center;
">
        A gorgeous web application can be viewed by students from their computers, tablets or smartphones. Finding a study space has never been easier. 

          </div>
        </div>
         <div class="col-md-4">

        </div>
      </div> -->
      
    </div><!-- /.container -->
    </div>
<!-- 
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://youtube.com/embed/xMyzMNRtjXg?autoplay=1&controls=0&showinfo=0&autohide=1"></iframe>
</div> -->



    <div class=" webapp-section">      
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-8">
            <div  class="text-center" style="
  font-size: 72px;
  font-family: 'lato';
  font-weight:900;
  color: rgb(255, 255, 255);
  <!-- line-height: 0.329; -->
  text-align: center;
">
              BEAUTIFUL MOBILE 
              EXPERIENCE
            </div>



            <div class="text-center" style="
  font-size: 30px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  line-height: 1;
  margin: 80px 30px;
">
              Delivers best in class user experience. <br>
              Gorgeous and intuitive user interface. <br>
              Responsive designed just for you.
            </div>

<!--             <div class="login_btn" style="
  border-radius: 20px;
  background-color: rgb(119, 167, 251);
  box-shadow: 2.5px 4.33px 0px 0px rgba(44, 62, 80, 0.004);
"> -->

<!--             <button type="button" class="btn btn-lg">LOGIN IN <span> <i class="fa fa-arrow-circle-right"></i></span>
            </button> -->
<%#= link_to "LOGIN", library_path(1), class: "btn btn-lg" %>
 
<%= link_to libraries_path do %>
  
              <button type="button" class="btn btn-lg" style="display:block; margin: 0 auto">ACCESS <span> <i class="fa fa-arrow-circle-right"></i></span>
            </button>
<% end %>

            <!-- </div> -->
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="iphone" style="margin-top:100px"></div>
          </div>
        </div>
      </div>
    </div>


    <div class="team-section">
      <div class="container">
        <div class="row">
           <div  style="
  font-size: 72px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.329;
  text-align: center;
  margin: 60px auto;
">
              WHO WE ARE
            </div>
        </div>
        <div class="row">
          <div style="
  font-size: 30px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  line-height: 0.789;
  text-align: center;
  margin: 50px auto 80px auto;
">
University of Waterloo Mechatronics Engineering
            
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <button class="teammember" type="button" data-toggle="modal" data-target="#xiaoModal">
              <div class="xiao-icon"></div>
              <div class="text-center" style="
  font-size: 25px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.32;
"> chongxiao shen
</div>

<div class="text-center" style="
  font-size: 14px;
  font-family: 'Roboto';
  color: rgb(255, 137, 115);

  text-transform: uppercase;
">
  Design Lead
</div>
            </button>



<!-- modal window -->
<div class="modal fade" id="xiaoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color:#2980B9">
      <%=image_tag "xiao_body.png",  width: '500' %>
<h1 style="color:white; font-size: 60px">XIAO</h1>
      </div>
  </div>
</div>




          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">

               <button class="teammember" type="button" data-toggle="modal" data-target="#jayModal">
              <div class="jay-icon"></div>
              <div class="text-center" style="
  font-size: 25px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.32;
"> jaesik kim
</div>

<div class="text-center" style="
  font-size: 14px;
  font-family: 'Roboto';
  color: rgb(255, 137, 115);

  text-transform: uppercase;
">
  software lead
</div>
            </button>

            <!-- modal window -->
<div class="modal fade" id="jayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color:#2980B9">
<h1 style="color:white; font-size: 60px">JAESIK</h1>
<%=image_tag "jay_body.jpg",  width: '500' %>
      </div>
  </div>
</div>
          </div>




          <div class="col-xs-12 col-sm-6 col-md-3">
             <button class="teammember" type="button" data-toggle="modal" data-target="#samModal">
              <div class="sam-icon"></div>
              <div class="text-center" style="
  font-size: 25px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.32;
"> mingu kwon
</div>

<div class="text-center" style="
  font-size: 14px;
  font-family: 'Roboto';
  color: rgb(255, 137, 115);

  text-transform: uppercase;
">
  Mechanical Lead
</div>
            </button>

            <!-- modal window -->
<div class="modal fade" id="samModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color:#2980B9">
<h1 style="color:white; font-size: 60px">MIN GU</h1>
<%=image_tag "sam_body.jpg",  width: '500' %>
      </div>
  </div>
</div>





          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">

               <button class="teammember" type="button" data-toggle="modal" data-target="#johnModal">
              <div class="john-icon"></div>
              <div class="text-center" style="
  font-size: 25px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.32;
"> jungwook lee
</div>

<div class="text-center" style="
  font-size: 14px;
  font-family: 'Roboto';
  color: rgb(255, 137, 115);

  text-transform: uppercase;
">
  Electrical Lead
</div>
            </button>


            <!-- modal window -->
<div class="modal fade" id="johnModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color:#2980B9">
<h1 style="color:white; font-size: 60px">JUNGWOOK</h1>
<%=image_tag "john_body.jpg",  width: '500' %>
      </div>
  </div>
</div>



          </div>

        </div>
      </div>
      
    </div>

<div class="contact-section">
 <div class="container">
  <div class="row">
    <div class="text-center" style="
  font-size: 72px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.806;
  margin: 50px auto;
"> 
      CONTACT US
      
    </div>
  </div>
   <div class="row">
<%= form_for :message, remote: true, url: messages_path do |f| %>
 <%= @message.errors.full_messages.first if @message.errors.any? %>
  <div class="col-md-6 col-sm-12" style="margin-bottom:40px">

    <%= f.text_field :name, :placeholder => 'Name', :class => 'name-field'%>
    <%= f.text_field :email, :placeholder => 'Email', :class => 'email-field' %>
  </div>
 
  <div class="col-md-6 col-sm-12">

    <%= f.text_area :message, :placeholder => 'Message', :class => 'message-field'  %>
   </div>
  <div class="col-sm-12">
    <%#= f.submit 'SEND', :class => "submit-btn" %>

      <button type="submit" class="submit-btn" style="margin:0 auto; display:block; margin-top: 20px" data-toggle="modal" data-target="#myModal">
        SEND
                <span><i class="fa fa-send-o"></i></span>
            </button>






<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background:#2980b9">
      <h1 class="text-center" style="font-size: 72px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.806;
  margin: 50px auto;">MESSAGE SENT!</h1>
    <button type="button" class="btn btn-success btn-lg modal-finish" style="margin:20px auto; display:block" data-dismiss="modal">OKAY</button>
    </div>
  </div>
</div>





 </div>

<% end %>



   </div>
 </div> 

</div>

<div class="footer">
  <div class="pull-right" style=".
  font-size: 24px;
  font-family: 'Roboto';
  color: rgb(189, 195, 199);
  line-height: 0.986;
">
    @2015 DESIGNED BY CHONGXIAO SHEN | SSMS ALL RIGHTS RESERVED
  </div>
</div>