<script>
$(function(){
  $('#myCarousel').carousel();
});
</script>


<%= render 'navbar' %>









<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item">
          <%= image_tag('big1.jpg') %> 
          <div class="container">
            <div class="carousel-caption">
              <h1 style="background-color:black; opacity:0.7">Big exam coming up? Maximize your efficiency by studying at your favourite place on campus. </h1>
              <p style="background-color:black; opacity:0.7">Quickly find empty study spaces on campus with the help of <code>SSMS</code>. Our web application is designed for ease of use, whether on the computer or on your tablet or phone. New occupancy updates will be instantly pushed to the screen without the need to refresh.</p>
              <p></p>
              <p><%= link_to library_path(1) do %>
  
              <button type="button" class="btn btn-primary btn-lg" style="display:block; margin: 0 auto;padding: 15px 30px;
  font-size: 35px;
  line-height: 1.3333333;
  border-radius: 6px;">Try It Out</span>
            </button>
<% end %></p>
            </div>
          </div>
        </div>
        <div class="item active">
          <%= image_tag('big2.jpg') %> 
          <div class="container">
            <div class="carousel-caption">
               <h1 style="background-color:black; opacity:0.7">Provide an enjoyable university experience that doesn't involve running around trying to find study spaces.</h1>
              <p style="background-color:black; opacity:0.7">More than half of students at University of Waterloo expressed that finding empty study spaces is a painful experience, especially during exam times. Valuable study time is wasted, which can have negative impact on academic performance. </p>
              <p></p>
               <p><%= link_to library_path(1) do %>
  
              <button type="button" class="btn btn-primary btn-lg" style="display:block; margin: 0 auto;padding: 15px 30px;
  font-size: 35px;
  line-height: 1.3333333;
  border-radius: 6px;">Solution</span>
            </button>
<% end %></p>
            </div>
          </div>
        </div>
        <div class="item">
         <%= image_tag('big3.jpg') %> 
          <div class="container">
            <div class="carousel-caption">
              <h1 style="background-color:black; opacity:0.7">A System built by students for students. Tailor-fitted to the students' need.</h1>
              <p style="background-color:black; opacity:0.7">SSMS is built and designed from the ground up by four <code>Mechatronics Engineering</code> students at University of Waterloo. The team possesses breadth of knowledge in software mechanical electrical and design, gained from industrial experience gained through their co-op internships.</p>
              <p></p>
              <p>
<%= content_tag("a","Contact Us", :class=> "btn btn-primary btn-lg", :style=>"padding: 15px 30px;
  font-size: 35px;
  line-height: 1.3333333;
  border-radius: 6px;", id: 'contact-btn') %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>



<!--     <div class="ssms-big-pic">
      <div class="ssms-big-pic-text">

      </div>
    </div> -->




<div class="features-section">
    <div class="container">
      <div class="row">
        <%= image_tag 'ssms-logo-business.png', :style=>"display:block; margin: 30px auto 100px auto" %>
        <h1 class="text-center" style="font-family: ‘Roboto’, Arial, serif; font-weight: 300; font-size:60px;color:white">
          Need a place to study? We got you.
        </h1>
        <h2 class="text-center" style="ffont-family: 'Roboto', sans-serif; font-weight: 300; color:white; margin-bottom:100px">SSMS helps students find empty study spaces quickly and accurately.</h2>
      </div>
      <div class="row" >
        <!-- <h1 class="text-center">Study Space Monitoring System</h1> -->
      <div class="col-sm-12 col-md-4">
        <div class="monitor">
          
        </div>

       <p class="text-center" style="font-family: 'Roboto', sans-serif;
    font-weight: 100; line-width:300; font-size:25px; color:white; margin:80px 0">

            Spots the exact position of empty study spaces in campus libraries, with pinpoint accuracy. So you never have to run around wasting time before your big exam. 

          </p>


      </div>
            <div class="col-sm-12 col-md-4">
              <div class="phone"></div>
              <p class="text-center" style="font-family: 'Roboto', sans-serif;
    font-weight: 100; line-width:300; font-size:25px; color:white; margin: 65px 0 80px 0">


        A gorgeous web application can be viewed by students from their computers, tablets or smartphones. Finding a study space has never been easier. 

          </p>
            </div>
      <div class="col-sm-12 col-md-4">
                <div class="chart"></div>
                          <p class="text-center" style="font-family: 'Roboto', sans-serif;
    font-weight: 100; line-width:300; font-size:25px; color:white; margin:65px 0 80px 0">
           Insightful reports are generated on libaries' usage level, therefore intelligent decisions can be made by administrators to improve the campus experience.
          </p>
      </div>


      </div>

<!--       <div class="row" style="margin-top:80px">
        <div class="col-md-4">
          
        </div>
         <div class="col-md-4">
          <div class="text-center" style="
  font-size: 24px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  line-height: 0.986;
  text-align: center;
">
        A gorgeous web application can be viewed by students from their computers, tablets or smartphones. Finding a study space has never been easier. 

          </div>
        </div>
         <div class="col-md-4">

        </div>
      </div> -->
      
    </div><!-- /.container -->
    </div>
<!-- 
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://youtube.com/embed/xMyzMNRtjXg?autoplay=1&controls=0&showinfo=0&autohide=1"></iframe>
</div> -->



    <div class=" webapp-section">      
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
<!--  -->

            <h1 class="" style="font-family: 'Roboto', sans-serif;
    font-weight: 100; font-size:50px; color:white;margin: 120px 0 50px 0">Easy to use: right on your phone, tablet or laptop.
          </h1>





<p style="font-family: 'Roboto', sans-serif;
    font-weight: 100; font-size:24px; color:white; margin-bottom:50px">
              Developed with emphasis towards a engaging user experience, beautifully designed just for you. Who said finding study spaces can't be a enjoyable experience?
            </p>

<!--             <div class="login_btn" style="
  border-radius: 20px;
  background-color: rgb(119, 167, 251);
  box-shadow: 2.5px 4.33px 0px 0px rgba(44, 62, 80, 0.004);
"> -->

<!--             <button type="button" class="btn btn-lg">LOGIN IN <span> <i class="fa fa-arrow-circle-right"></i></span>
            </button> -->
<%#= link_to "LOGIN", library_path(1), class: "btn btn-lg" %>
 
<%= link_to libraries_path do %>
  
              <button type="button" class="btn super-btn" style="display:block; margin: 0 auto">Try It Out <span> <i class="fa fa-arrow-circle-right"></i></span>
            </button>
<% end %>

            <!-- </div> -->
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="iphone" style="margin-top:100px"></div>
          </div>
        </div>
      </div>
    </div>


<div class=" mechanial-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <%= image_tag "cad_lit.png", :style => "margin: 0 auto; display: block; " %>
        <%= image_tag "cad_bottom.png", :style => "margin: 0 auto; display: block; " %>
      </div>
      <div class="col-md-6">
        <h1 class="" style="font-family: 'Roboto', sans-serif;
    font-weight: 100; font-size:50px; color:black;margin: 100px 0 20px 0">Simple mechanical design,

        efficient and unobtrusive.
          </h1>
         <p style="font-family: 'Roboto', sans-serif;
    font-weight: 100; font-size:20px">3D printed using PC-ABS, the sensor container is a mechanical art-piece that is small in size, high in impact tolerance, sufficient in heat resistance and asthetically pleasing.</p>
      </div>
    </div>
  </div>
</div>    

<div class=" electrical-section">  
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="" style="font-family: 'Roboto', sans-serif;
    font-weight: 100; font-size:50px; color:white;margin: 120px 0 50px 0">Small in size, <br> Big in functionality.
          </h1>
         <p style="font-family: 'Roboto', sans-serif;
    font-weight: 100; font-size:20px; color:white; margin-bottom:50px">A state of the art PCB board carefully designed to just the size of a credit card. It is highly energy efficient, made possible by incorporating cutting-edge BLE technology. </p>
      
    </div>
    <div class="col-md-6">
       <%= image_tag "pcb_design.jpg", :style => "margin: 0 auto; display: block; " %>
    </div>
  </div>
</div>

</div>

<div class="product-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      <h1 class="text-center" style="font-family: 'Roboto', sans-serif;
    font-weight: 100; font-size:100px; color:black;margin: 100px 0 50px 0">
        SSMS 
      </h1>
      <p class="text-center" style="font-family: 'Roboto', sans-serif;
    font-weight: 100; line-width:300; font-size:35px; color:black; margin-bottom:50px">Studying shouldn't be this hard. <br>Let SSMS help you live up to your true academic potential.  </p>
      </div>

    </div>
    <div class="row" style="margin: 0 0 50px 0">
       <%= link_to library_path(1) do %>
  
              <button type="button" class="btn btn-primary btn-lg" style="display:block; margin: 0 auto;  padding: 20px 36px;
  font-size: 35px;
  line-height: 1.3333333;
  border-radius: 6px;">START NOW</span>
            </button>
<% end %>
    </div>
    <div class="row">
      <%= image_tag "ssms-product.jpg", :style => "margin: 0 auto; display: block; width:100%" %>
    </div>
  </div>
</div>



    <div class="team-section">
      <div class="container">
        <div class="row">
           <div  style="
  font-size: 72px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.329;
  text-align: center;
  margin: 60px auto;
">
              WHO WE ARE
            </div>
        </div>
        <div class="row">
          <div style="
  font-size: 30px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  line-height: 0.789;
  text-align: center;
  margin: 50px auto 80px auto;
"><%= link_to libraries_path do %>
University of Waterloo <% end %> Mechatronics Engineering
            
          </div>
        </div>
        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-3">
            <button class="teammember" type="button" data-toggle="modal" data-target="#xiaoModal">
              <div class="xiao-icon"></div>
              <div class="text-center" style="
  font-size: 25px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.32;
"> xiao shen
</div>

<div class="text-center" style="
  font-size: 14px;
  font-family: 'Roboto';
  color: rgb(255, 137, 115);

  text-transform: uppercase;
">
  Design Lead
</div>
            </button>



<!-- modal window -->
<div class="modal fade" id="xiaoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog" style="background-color:#3d84b8;   padding: 10px 35px">

      <div class="row">
      <div class="col-xs-4">
  <a href="mailto:c22shen@uwaterloo.ca">
        <p style="color:White; font-size: 30px;
  margin-top: 80px;" class="text-center">

  <i class="fa fa-envelope-o"></i>
      </p>
    </a>
        </div>
      <div class="col-xs-4">
  <%= image_tag 'xiao-head.png', :style=>"display:block; margin: 30px auto 30px auto" %>
    </div>
</div>
<div class="row text-center">
  <h1 style="font-family: 'roboto'; color:white">XIAO SHEN</h1>
</div>
<div class="row">
  <h3 style="font-family: 'roboto'; color:white">
    Skill Highlights
  </h3>
  <h4 class="">
    <span class="label label-primary">Web Development</span>
    <span class="label label-primary">Graphic Design</span>
    <span class="label label-primary">Machine Learning</span>
</h4>

</div>

<div class="row">
  <h3 style="font-family: 'roboto'; color:white">
    Past Experiences
  </h3>
<div class="list-group">
  <a href="#" class="list-group-item active">
    IFDS - BIG DATA SYSTEM DEVELOPER
  </a>
  <a href="#" class="list-group-item active">CIBC WORLD MARKETS - ELECTRONIC TRADING ANALYST</a>
  <a href="#" class="list-group-item active">BANK OF AMERICA MERRIL LYNCH - SOFTWARE ENGINEER </a>
</div>
</div>

<div class="row">
  <h3 style="font-family: 'roboto'; color:white">
    Mini Biography
  </h3>
  <p style="font-family: 'roboto'; color:white;background: #337AB7;padding: 10px">
    

    Xiao is graduating from University of Waterloo, Mechatronics Engineering program. 
<br><br>
    During the development of SSMS, his main responsibility is the web application design and development. 
<br><br>
    He will be working as a consultant specializing in the technology and financial sector in June 2015. <br><br>
    Interests: Basketball, accordion, finance
  </p>

  </div>
</div>
</div>




          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">

               <button class="teammember" type="button" data-toggle="modal" data-target="#jayModal">
              <div class="jay-icon"></div>
              <div class="text-center" style="
  font-size: 25px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.32;
"> jaesik kim
</div>

<div class="text-center" style="
  font-size: 14px;
  font-family: 'Roboto';
  color: rgb(255, 137, 115);

  text-transform: uppercase;
">
  software lead
</div>
            </button>

            <!-- modal window -->
<<div class="modal fade" id="jayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog" style="background-color:#3d84b8;   padding: 10px 35px">

      <div class="row">
      <div class="col-xs-4">
  <a href="mailto:tensaijskim1991@gmail.com ">
        <p style="color:White; font-size: 30px;
  margin-top: 80px;" class="text-center">

  <i class="fa fa-envelope-o"></i>
      </p>
    </a>
        </div>
      <div class="col-xs-4">
  <%= image_tag 'jay-head.png', :style=>"display:block; margin: 30px auto 30px auto" %>
    </div>
</div>
<div class="row text-center">
  <h1 style="font-family: 'roboto'; color:white">JAESIK KIM</h1>
</div>
<div class="row">
  <h3 style="font-family: 'roboto'; color:white">
    Skill Highlights
  </h3>
  <h4 class="">
    <span class="label label-primary">Software development</span>
    <span class="label label-primary">Robotics</span>
    <span class="label label-primary">Embedded System</span>
</h4>

</div>

<div class="row">
  <h3 style="font-family: 'roboto'; color:white">
    Past Experiences
  </h3>
<div class="list-group">
  <a href="#" class="list-group-item active" style="text-transform: uppercase;">
    CISCO - SOFTWARE ENGINEER
  </a>
  <a href="#" class="list-group-item active" style="text-transform: uppercase;">IDC - SOFTWARE DESIGNER</a>
  <a href="#" class="list-group-item active" style="text-transform: uppercase;">RUGGEDCOM - SOFTWARE DEVELOPER</a>
</div>
</div>

<div class="row">
  <h3 style="font-family: 'roboto'; color:white">
    MINI-BIO
  </h3>
  <p style="font-family: 'roboto'; color:white;background: #337AB7;padding: 10px">
    Jaesik is graduating from University of Waterloo, Mechatronics Engineering program.  <br><br>
    During the development of SSMS, his main responsibilities were  software development of the Rfduino module, and the implementation of the trilateration algorithm with Processing/Java language. <br><br>
    Interests: working out, soccer, drums
  </p>

  </div>
</div>
</div>
          </div>




          <div class="col-xs-12 col-sm-6 col-md-3">
             <button class="teammember" type="button" data-toggle="modal" data-target="#samModal">
              <div class="sam-icon"></div>
              <div class="text-center" style="
  font-size: 25px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.32;
"> mingu kwon
</div>

<div class="text-center" style="
  font-size: 14px;
  font-family: 'Roboto';
  color: rgb(255, 137, 115);

  text-transform: uppercase;
">
  Mechanical Lead
</div>
            </button>

            <!-- modal window -->
<div class="modal fade" id="samModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog" style="background-color:#3d84b8;   padding: 10px 35px">

      <div class="row">
      <div class="col-xs-4">
  <a href="mailto:Mgskwon@gmail.com">
        <p style="color:White; font-size: 30px;
  margin-top: 80px;" class="text-center">

  <i class="fa fa-envelope-o"></i>
      </p>
    </a>
        </div>
      <div class="col-xs-4">
  <%= image_tag 'sam-head.png', :style=>"display:block; margin: 30px auto 30px auto" %>
    </div>
</div>
<div class="row text-center">
  <h1 style="font-family: 'roboto'; color:white">MIN GU KWON</h1>
</div>
<div class="row">
  <h3 style="font-family: 'roboto'; color:white">
    Skill Highlights
  </h3>
  <h4 class="">
    <span class="label label-primary">Mechanical Design</span>
    <span class="label label-primary">Algorithms</span>
    <span class="label label-primary">Software development</span>
</h4>

</div>

<div class="row">
  <h3 style="font-family: 'roboto'; color:white">
    Past Experiences
  </h3>
<div class="list-group">
  <a href="#" class="list-group-item active" style="text-transform: uppercase;">
    Blackberry - Software Developer
  </a>
  <a href="#" class="list-group-item active" style="text-transform: uppercase;">General Motors - Interning Engineer</a>
  <a href="#" class="list-group-item active" style="text-transform: uppercase;">Honeywell Aerospace - Interning Engineer </a>
</div>
</div>

<div class="row">
  <h3 style="font-family: 'roboto'; color:white">
    MINI-BIO
  </h3>
  <p style="font-family: 'roboto'; color:white;background: #337AB7;padding: 10px">
    Min Gu is graduating from University of Waterloo, Mechatronics Engineering program.  <br><br>
    For the development of SSMS, his main responsibilities are mechanical design of the sensor container, and the design of the trilateration algorithm. <br><br>
    Interests: Soccer, Music, Taekwondo
  </p>

  </div>
</div>
</div>





          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">

               <button class="teammember" type="button" data-toggle="modal" data-target="#johnModal">
              <div class="john-icon"></div>
              <div class="text-center" style="
  font-size: 25px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.32;
"> jungwook lee
</div>

<div class="text-center" style="
  font-size: 14px;
  font-family: 'Roboto';
  color: rgb(255, 137, 115);

  text-transform: uppercase;
">
  Electrical Lead
</div>
            </button>


            <!-- modal window -->
<div class="modal fade" id="johnModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog" style="background-color:#3d84b8;   padding: 10px 35px">

      <div class="row">
      <div class="col-xs-4">
  <a href="mailto:jungwook.l.92@gmail.com">
        <p style="color:White; font-size: 30px;
  margin-top: 80px;" class="text-center">

  <i class="fa fa-envelope-o"></i>
      </p>
    </a>
        </div>
      <div class="col-xs-4">
  <%= image_tag 'john-head.png', :style=>"display:block; margin: 30px auto 30px auto" %>
    </div>
</div>
<div class="row text-center">
  <h1 style="font-family: 'roboto'; color:white">JUNG WOOK LEE</h1>
</div>
<div class="row">
  <h3 style="font-family: 'roboto'; color:white">
    Skill Highlights
  </h3>
  <h4 class="">
    <span class="label label-primary">Robotics</span>
    <span class="label label-primary">PCB Design</span>
    <span class="label label-primary">Controls</span>
</h4>

</div>

<div class="row">
  <h3 style="font-family: 'roboto'; color:white;">
    Past Experiences
  </h3>
<div class="list-group">
  <a href="#" class="list-group-item active" style="text-transform: uppercase;">
     Wavlab - Interning Engineer
  </a>

  <a href="#" class="list-group-item active"  style="text-transform: uppercase;">Adaptive Systems Lab - Interning Engineer</a>
</div>
</div>

<div class="row">
  <h3 style="font-family: 'roboto'; color:white">
    MINI-BIO
  </h3>
  <p style="font-family: 'roboto'; color:white;background: #337AB7;padding: 10px">
    Jungwook is graduating from University of Waterloo, Mechatronics Engineering program.  <br><br>
    For the development of SSMS, his main responsibilies are the design and manufacturing of PCB boards, and integration of all electrical components. <br><br>
    Jungwook is mainly interested in Autonomous Robotics and computer vision system. He is looking to innovate the future with cutting edge technology.

  </p>

  </div>
</div>
</div>



          </div>

        </div>
      </div>
      
    </div>

<div class="contact-section">
 <div class="container">
  <div class="row">
    <div class="text-center" style="
  font-size: 72px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.806;
  margin: 50px auto;
"> 
      CONTACT US
      
    </div>
  </div>
   <div class="row">
<%= form_for :message, remote: true, url: messages_path do |f| %>
 <%= @message.errors.full_messages.first if @message.errors.any? %>
  <div class="col-md-6 col-sm-12" style="margin-bottom:40px">

    <%= f.text_field :name, :placeholder => 'Name', :class => 'name-field'%>
    <%= f.text_field :email, :placeholder => 'Email', :class => 'email-field' %>
  </div>
 
  <div class="col-md-6 col-sm-12">

    <%= f.text_area :message, :placeholder => 'Message', :class => 'message-field'  %>
   </div>
  <div class="col-sm-12">
    <%#= f.submit 'SEND', :class => "submit-btn" %>

      <button type="submit" class="submit-btn" style="margin:0 auto; display:block; margin-top: 20px" data-toggle="modal" data-target="#myModal">
        SEND
                <span><i class="fa fa-send-o"></i></span>
            </button>






<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background:#2980b9">
      <h1 class="text-center" style="font-size: 72px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.806;
  margin: 50px auto;">MESSAGE SENT!</h1>
    <button type="button" class="btn btn-success btn-lg modal-finish" style="margin:20px auto; display:block" data-dismiss="modal">OKAY</button>
    </div>
  </div>
</div>





 </div>

<% end %>



   </div>
 </div> 

</div>

<div class="footer">
  <div class="pull-right" style=".
  font-size: 24px;
  font-family: 'Roboto';
  color: rgb(189, 195, 199);
  line-height: 0.986;
">
    @2015 WEB DESIGN BY XIAO SHEN | SSMS ALL RIGHTS RESERVED
  </div>
</div>