<!DOCTYPE html>
<script src='https://www.google.com/jsapi'></script>
<html>
<head>

  <title>SSMS Web Portal</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300|Roboto:400,100,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body style="background: <%= @homestyle ? @homestyle : '#2D3E50'%>">

<%= yield %>

</body>
</html>
